*.pyc
*.so
*.npy
*.txt
*.bin
*.html
*checkpoint.ipynb
*.swp
*.crc
*.jpg
*.jpeg
*.pdf
*.vshistory
.localhistory
.vs 
.vscode
./vscode/*
.vs/*
model.ckpt*
/data
/build
/dist
/deepiu.egg-info
/util/build
/util/dist
/util/hasky_utils.egg-info
/examples/sparse-tensor-classification/model
/examples/classification/model
/examples/text-classification/model 
/deepiu/image_caption/inference/flickr/tf-bow-predict
/scripts/log
*tmphws4so 
/util/gezi/metrics/tokenizer/tmp*
util/gezi/metrics/tokenizer/tmp*
